<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717538880248-uihelbb159rt54af6f0bh0h7ca9tuakr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717538880248-uihelbb159rt54af6f0bh0h7ca9tuakr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717538880248-7imbroeftif5qko51mf62jq08od9mh07.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDtJeXbe3FfiQArHA9Jbbcq5tdLM5rCoo8</string>
	<key>GCM_SENDER_ID</key>
	<string>717538880248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.status200.habitat</string>
	<key>PROJECT_ID</key>
	<string>habitat-bf6d3</string>
	<key>STORAGE_BUCKET</key>
	<string>habitat-bf6d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717538880248:ios:a9f3a3418498d8a198690d</string>
</dict>
</plist>